{# overrides: vendor/ezsystems/ezpublish-kernel/eZ/Bundle/EzPublishCoreBundle/Resources/views/content_fields.html.twig #}
{# https://doc.ez.no/display/EZP/ez_render_field #}

{# Template blocks to be used by content fields #}
{# Block naming convention is <fieldDefinitionIdentifier>_field #}
{# Following variables are passed:
 # - \eZ\Publish\API\Repository\Values\Content\Field field the field to display
 # - \eZ\Publish\API\Repository\Values\Content\ContentInfo contentInfo the contentInfo to which the field belongs to
 # - \eZ\Publish\API\Repository\Values\Content\VersionInfo versionInfo the versionInfo to which the field belongs to
 # - mixed fieldSettings settings of the field (depends on the fieldtype)
 # - array parameters options passed to ez_render_field under the parameters key
 # - array attr the attributes to add the generate HTML, contains at least a "class" entry
 #              containing <fieldtypeidentifier>-field
 #}

{# This field accepts the following parameters:
 #   - alias (image variation name). Defaults to "original" (e.g. image originally uploaded)
 #   - class (css class)
 #}
{% block ezimage_field %}
{% spaceless %}
{% if not ez_is_field_empty( content, field ) %}
    {% set imageAlias = ez_image_alias( field, versionInfo, parameters.alias|default( 'medium' ) ) %}
    {% set imageClass = parameters.class|default( 'none' ) %}
    {% if imageAlias.uri is defined %}
        <img class="{{ imageClass }}" src="{{ asset( imageAlias.uri ) }}" width="{{ imageAlias.width }}" height="{{ imageAlias.height }}" alt="{{ field.value.alternativeText }}" />
    {% endif %}
{% endif %}
{% endspaceless %}
{% endblock %}

{% block ezxmltext_field %}
{% spaceless %}
    {{field.value.xml|xmltext_to_html5}}
    {#% set field_value = field.value.xml|xmltext_to_html5 %}
    {{ block( 'simple_block_field' ) }#}
{% endspaceless %}
{% endblock %}

{# @todo: handle the unit of the fileSize (si operator in legacy template engine) #}
{% block ezbinaryfile_field %}
{% spaceless %}
    {% if not ez_is_field_empty( content, field ) %}
        <a href="{{ path( 'ez_urlalias', {'locationId': content.contentInfo.mainLocationId} ) }}"
            {{ block( 'field_attributes' ) }}>{{ field.value.fileName }}</a>&nbsp;({{ field.value.fileSize|ez_file_size( 1 ) }})
    {% endif %}
{% endspaceless %}
{% endblock %}

{#% block cjwgeolocation_field %}
{% spaceless %}
    {{ include( site_bundle_name ~ ':fields:cjwgeolocation.html.twig' ) }}
{% endspaceless %}
{% endblock %#}
